@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

em {
  font-weight: 900;
  font-style: normal;
  color: var(--chakra-colors-yellow-600);
}

button {
  border-radius: 0 !important;
  min-width: 250px !important;
}

html {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

body {
  background-color: #000000 !important;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

main {
  background: rgb(230, 231, 232);
  background: linear-gradient(
    60deg,
    rgba(230, 231, 232, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  aspect-ratio: 1 / 1;
  overflow: hidden;

  .content-container {
    width: 100%;
    height: 100%;
    position: relative;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      text-align: center;
    }
  }
}

iframe {
  margin-left: auto;
  margin-right: auto;
}

#mascot {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
}

.black-bg-img {
  background-color: #000000;
}
